
/* Reset: */
body {
	margin: 0;
	padding: 0;
}

div, span, a {
	box-sizing: border-box;
}

main, fieldset, form, label, caption, article, aside, canvas, 
figure, figcaption, footer, header, address, nav, section, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	display: block;
	box-sizing: border-box;
}

input, select, table, button, textarea {
	  color: inherit;
	  font-family: inherit;
	  font-size: inherit;
	  font-weight: inherit;
	  line-height:inherit;
	  box-sizing: border-box;
  }
  a {
	  outline: none;
  }

  body {
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
    color: #000;
    background-color: #fff;
  }